<header id="top_nav" class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <h1 class="navbar-brand">{{#link-to "index" class="nav-link"}}Tech Boom{{/link-to}}</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {{#link-to "tech-in-stl" class="nav-link"}}Tech in STL{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "tech-moving" class="nav-link"}}Tech moving to the MidWest{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "tech-origins" class="nav-link"}}Tech and its origins in the US{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "sources" class="nav-link"}}Sources{{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</header>
