<h1>Sources</h1>
<ul>
  <li><a href="https://theculturetrip.com/asia/japan/articles/the-10-most-modern-cities-in-the-world/">https://theculturetrip.com/asia/japan/articles/the-10-most-modern-cities-in-the-world/</a></li>
  <li><a href="https://www.ted.com/talks/tristan_harris_the_manipulative_tricks_tech_companies_use_to_capture_your_attention">https://www.ted.com/talks/tristan_harris_the_manipulative_tricks_tech_companies_use_to_capture_your_attention</a></li>
  <li><a href="http://www.popularmechanics.com/culture/g1859/the-14-best-startup-cities-in-america/?slide=1">http://www.popularmechanics.com/culture/g1859/the-14-best-startup-cities-in-america/?slide=1</a></li>
  <li><a href="http://www.stltoday.com/business/local/here-are-the-top-tech-startups-in-st-louis/collection_da197665-4397-585d-b0b1-7ed209ea9c5b.html">http://www.stltoday.com/business/local/here-are-the-top-tech-startups-in-st-louis/collection_da197665-4397-585d-b0b1-7ed209ea9c5b.html</a></li>
  <li><a href="http://fortune.com/2014/04/08/can-st-louis-become-the-next-tech-hub/">http://fortune.com/2014/04/08/can-st-louis-become-the-next-tech-hub/</a></li>
  <li><a href="http://www.downtowntrex.org/about/">http://www.downtowntrex.org/about/</a></li>
  <li><a href="https://www.investmidwestforum.com/">https://www.investmidwestforum.com/</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Benjamin_Franklin">https://en.wikipedia.org/wiki/Benjamin_Franklin</a></li>
  <li><a href="http://www.americaslibrary.gov/jb/recon/jb_recon_telephone_1.html">http://www.americaslibrary.gov/jb/recon/jb_recon_telephone_1.html</a></li>
  <li><a href="https://www.computerhope.com/issues/ch000984.htm">https://www.computerhope.com/issues/ch000984.htm</a></li>
  <li><a href="https://www.apple.com/iphone-x/specs/">https://www.apple.com/iphone-x/specs/</a></li>
</ul>
