<article id="tech_in_stl">
  <h1 class="wow fadeInLeft">Tech in STL</h1>

  <p class="wow fadeInRight">St. Louis MO is recognized by many sources as a great place for tech startups. St. Louis wasn’t recognized as a tech hub until fairly recently. In fact one of the only times we have been nationally recognized was the 1904 world’s fair, and the Olympics that we held in the same year.</p>

  <p class="wow fadeInRight">T-Rex in St. Louis is greatly benefiting our city. It provides quality business spaces, and it is home to over 200 businesses and about 80% of those businesses are start ups. All though St. Louis isn’t very technologically advanced as some other american cities, we are slowly working our way to becoming a great tech hub.</p>

  <img src="https://www.artmartstl.com/wp-content/uploads/2016/05/7-5-great-places-for-art-lovers-to-enjoy-art-in-stl.jpg"class ="wow fadeInUp">
</article>
