<article id="tech_moving">
  <h1>Tech moving to the MidWest</h1>

  <p>InvestMidwest is a venture capital conference that invests in promising startup businesses in the industries of science, technology, bioenergy, etc. throughout the Midwest. InvestMidwest has raised over 1 billion USD over the past 17 years. At InvestMidwest entrepreneurs present their ideas to potential investors. It’s a great way for investors to spot ideas that have good potential, and that can help the Midwest advance in science and technology.</p>

  <div class="image-container">
    <img src="https://www.investmidwestforum.com/_img/Invest-Midwest-Venture-Capital-Forum-Logo.png" id="invest_midwest" class="wow fadeInLeft">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Map_of_USA_Midwest.svg/1200px-Map_of_USA_Midwest.svg.png" id="map" class="wow fadeInRight">
  </div>
</article>
