<article id="tech_origins">
  <h1>Tech and its origins in the US</h1>

  <p>From Benjamin Franklin experiments with electricity in the 1700’s, to the invention of the first telephone call in 1876, to the many devices we have today. All these events have helped become a society that depends on technology for thongs like business and communication. The first computer, the ENIAC, was built in 1946 and weighed around 50 tons. Only a handful of people were allowed to use this machine. Today, however, over 1 billion people have cellphones, and unlike the ENIAC these devices only weigh about 6 ounces and can fit in your pocket. Today we rely on technology for almost everything we do, whether it's making a call, scrolling through social media in our free time, or shopping online, technology is apart of our everyday life. And our tech is only getting better and faster.</p>
  <div class="image-container">
    <img src="http://ds-wordpress.haverford.edu/bitbybit/wp-content/uploads/2012/07/Chapter_4-127.jpg" id="ENIAC" class="wow fadeInLeft">

    <img src="https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/x/iphone-x-select-2017?wid=189&hei=376&fmt=png-alpha&qlt=95&.v=1504378258086" id="iphone_x" class="wow fadeInRight">
  </div>
</article>
